# https://editorconfig.org/
# https://learn.microsoft.com/en-us/visualstudio/ide/create-portable-custom-editor-options

# Remove the line below if you want to inherit .editorconfig settings from higher directories
#root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = false
trim_trailing_whitespace = true
# Indentation and spacing
# two space indenting can eat a duck:
indent_size = 4
# space indenting can, too:
indent_style = tab
tab_width = 4

[*.{ps1,psd1,psm1,ps1xml}]
# old (non-core) powershell assumes ansi, so use a utf8 signature to be safe for those;
# new powershell (core) assumes utf-8 (and, fyi, does not do any char detection for ansi),
# so if you know you're only using powershell core, then can take this out and use default
# from above (and also fyi, both versions work fine with LF line endings):
charset = utf-8-bom

[*.{xml,config,csproj,xhtml,razor}]
resharper_xml_space_before_self_closing = false

[*.{htm,html}]
#resharper_xml_space_before_self_closing = true

# Markdown Files
[*.md]
trim_trailing_whitespace = false
insert_final_newline = true

[*.{xml,htm,html,js,ts,css,scss,less,config}]
#insert_final_newline = false

[*.{json,py,sh,xml}]
#insert_final_newline = false

[*.{yaml,yml}]
indent_style = space			# ugh
insert_final_newline = true

[*.{bat,cmd}]
end_of_line = crlf
insert_final_newline = true
