<?xml version="1.0" encoding="utf-8"?>
<packages xmlns:ack="urn:ackware:packages-config">
<!--
	<package name=""
			type="[WindowsFeature, AckApt]"
			windowsVersions="[empty or one or both of Windows7,Windows8]"
			skipSystems="[empty or names of systems]"
		for type="Registry":
			regPath="e.g. HKCU:\Software\Microsoft\Windows\CurrentVersion\Whatever"
			regProp="e.g. (default) or MyPropertyName"
			regValue="the value to poke in: 1 or Yes or whatever"
			regType="optional, default to String: one of String, DWord, QWord, MultiString, Binary"
		for type="EnvVar":
			envName="the name of the environment variable: MyEnvVar"
			envValue="the value of the environment variable: MyValue"
		/>
-->
	<!--
		PowerShell modules
	-->
	<package type="PSModule" name="Pscx" repository="PSGallery"/>
	<!-- <package type="PSModule" name="oh-my-posh" repository="PSGallery"/> -->	<!-- use installed version -->
	<!-- <package type="PSModule" name="posh-git" repository="PSGallery"/> -->
	<package type="PSModule" name="PSSQLite" repository="PSGallery"/>
	<package type="PSModule" name="Terminal-Icons" repository="PSGallery"/>
	<package type="PSModule" name="Microsoft.PowerShell.SecretManagement" repository="PSGallery"/>
	<package type="PSModule" name="Microsoft.PowerShell.SecretStore" repository="PSGallery"/>
	<package type="PSModule" name="AckApt" repository="wallach9"/>

	<!--
		WindowsFeatures
	-->
	<!-- this installs v2 of PowerShell on systems that already have later version; for backward compatibility;
	<package type="WindowsFeature" name="MicrosoftWindowsPowerShellV2Root" windowsVersions="Windows8"/>
	<package type="WindowsFeature" name="MicrosoftWindowsPowerShellV2" windowsVersions="Windows8"/>
	-->
	<package type="WindowsFeature" name="WorkFolders-Client" windowsVersions="Windows10,Windows8"/>
	<package type="WindowsFeature" name="Printing-XPSServices-Features"/>
	<package type="WindowsFeature" name="Xps-Foundation-Xps-Viewer"/>
	<package type="WindowsFeature" name="Printing-Foundation-Features"/>
	<package type="WindowsFeature" name="MediaPlayback"/>
	<package type="WindowsFeature" name="WindowsMediaPlayer"/>
	<package type="WindowsFeature" name="TelnetClient"/>
	<!--<package type="WindowsFeature" name="Windows-Identity-Foundation" windowsVersions="Windows8"/>-->

	<!-- <package type="WindowsFeature" name="NetFx4-AdvSrvs" windowsVersions="Windows8"/>
	<package type="WindowsFeature" name="NetFx4Extended-ASPNET45" windowsVersions="Windows8"/> -->
	<package type="WindowsFeature" name="NetFx4-AdvSrvs"/>
	<package type="WindowsFeature" name="NetFx4Extended-ASPNET45"/>
	<package type="WindowsFeature" name="NetFx3"/>
	<!--<package type="WindowsFeature" name="WCF-TCP-PortSharing45" windowsVersions="Windows10,Windows8"/>-->
	<package type="WindowsFeature" name="WCF-Services45" windowsVersions="Windows10,Windows8"/>

	<package type="WindowsFeature" name="IIS-ManagementConsole"/>
	<package type="WindowsFeature" name="IIS-ManagementScriptingTools"/>
	<package type="WindowsFeature" name="IIS-ManagementService"/>
	<package type="WindowsFeature" name="IIS-WebServerManagementTools"/>	  <!-- should already be installed with stuff above, but double check -->

	<package type="WindowsFeature" name="IIS-DefaultDocument"/>
	<package type="WindowsFeature" name="IIS-DirectoryBrowsing"/>
	<package type="WindowsFeature" name="IIS-HttpErrors"/>
	<package type="WindowsFeature" name="IIS-HttpRedirect"/>
	<package type="WindowsFeature" name="IIS-StaticContent"/>
	<package type="WindowsFeature" name="IIS-CommonHttpFeatures"/>			  <!-- should already be installed with stuff above, but double check -->

	<package type="WindowsFeature" name="IIS-HttpLogging"/>
	<package type="WindowsFeature" name="IIS-HttpTracing"/>
	<package type="WindowsFeature" name="IIS-HealthAndDiagnostics"/>		  <!-- should already be installed with stuff above, but double check -->

	<package type="WindowsFeature" name="IIS-HttpCompressionDynamic"/>
	<package type="WindowsFeature" name="IIS-HttpCompressionStatic"/>
	<package type="WindowsFeature" name="IIS-Performance"/>					  <!-- should already be installed with stuff above, but double check -->

	<package type="WindowsFeature" name="IIS-BasicAuthentication"/>
	<package type="WindowsFeature" name="IIS-WindowsAuthentication"/>		  <!-- TODO: not allowed on Basic/Home versions of Windows; how do we turn this off there??? -->
	<package type="WindowsFeature" name="IIS-RequestFiltering"/>
	<package type="WindowsFeature" name="IIS-Security"/>					  <!-- should already be installed with stuff above, but double check -->

	<package type="WindowsFeature" name="IIS-ISAPIExtensions"/>
	<package type="WindowsFeature" name="IIS-ISAPIFilter"/>
	<!-- <package type="WindowsFeature" name="IIS-NetFxExtensibility45" windowsVersions="Windows8"/>
	<package type="WindowsFeature" name="IIS-ASPNET45" windowsVersions="Windows8"/> -->
	<package type="WindowsFeature" name="IIS-NetFxExtensibility45"/>
	<package type="WindowsFeature" name="IIS-ASPNET45"/>
	<package type="WindowsFeature" name="IIS-NetFxExtensibility"/>
	<package type="WindowsFeature" name="IIS-ASPNET"/>
	<package type="WindowsFeature" name="IIS-CGI"/>
	<package type="WindowsFeature" name="IIS-ApplicationDevelopment"/>		  <!-- should already be installed with stuff above, but double check -->

	<package type="WindowsFeature" name="IIS-WebServerRole"/>			  <!-- should already be installed with stuff above, but double check -->
	<package type="WindowsFeature" name="IIS-WebServer"/>				  <!-- should already be installed with stuff above, but double check -->

	<package type="WindowsFeature" name="IIS-HostableWebCore"/>

	<package type="WindowsFeature" name="WAS-ConfigurationAPI"/>
	<package type="WindowsFeature" name="WAS-ProcessModel"/>
	<package type="WindowsFeature" name="WAS-WindowsActivationService"/>
	<package type="WindowsFeature" name="WCF-HTTP-Activation45" windowsVersions="Windows8"/>
	<package type="WindowsFeature" name="WCF-HTTP-Activation" windowsVersions="Windows7"/>

	<package type="WindowsFeature" name="Microsoft-Hyper-V" windowsVersions="Windows10,Windows8"/>	<!-- will check everything under 'Hyper-V' -->

	<package type="WindowsFeature" name="Containers" windowsVersions="Windows10"/>
	<package type="WindowsFeature" name="Containers-DisposableClientVM" windowsVersions="Windows10"/>	<!-- Sandbox [> 1903] -->
	<package type="WindowsFeature" name="Microsoft-Windows-Subsystem-Linux" windowsVersions="Windows10"/>
	<package type="WindowsFeature" name="VirtualMachinePlatform" windowsVersions="Windows10"/>	<!-- needed for WSL2 ?? -->
	<package type="WindowsFeature" name="HypervisorPlatform" windowsVersions="Windows10"/>		<!-- think it enables 3rd party apps to use hypervisor, which used to be needed for Docker, is still needed for other VMs like VirtualBox; i think ... -->

	<!--
		MS Store
	-->
	<!-- have to use ID as the name for winget (being lazy and not rewriting everything), so add a dispayName  -->
	<package type="MSStore" name="9N0DX20HK701" displayName="Windows Terminal"/>
	<!--<package type="MSStore" name="9MZ1SNWT0N5D" displayName="PowerShell Core"/>-->
	<!--<package type="MSStore" name="XP9KHM4BK9FZ7Q" displayName="Visual Studio Code"/>-->
	<!--<package type="MSStore" name="9NZVDKPMR9RD" displayName="Mozilla Firefox"/>-->
	<package type="MSStore" name="9MXFBKFVSQ13" displayName="ILSpy"/>
	<package type="MSStore" name="9NBLGGH4MSV6" displayName="Ubuntu [WSL]"/>
	<package type="MSStore" name="9MSSK2ZXXN11" displayName="openSUSE Tumbleweed [WSL]"/>
	<package type="MSStore" name="9MSVKQC78PK6" displayName="Debian [WSL]"/>
	<package type="MSStore" name="9PJSDV0VPK04" displayName="BitWarden"/>
	<!--<package type="MSStore" name="XXXXXXXXXXXX" displayName="Barnes & Noble NOOK"/>-->
	<!--<package type="MSStore" name="XXXXXXXXXXXX" displayName="SiriusXM"/>-->
	<package type="MSStore" name="9PGJGD53TN86" displayName="WinDbg Preview"/>
	<package type="MSStore" name="9WZDNCRFJ3PS" displayName="MS Remote Desktop"/>
	<!--<package type="MSStore" name="XPFCG5NRKXQPKT" displayName="Foxit MobilePDF"/>-->	<!-- this one is not the store app -->
	<package type="MSStore" name="9NMS233VM4Z9" displayName="Amazon Music"/>
	<package type="MSStore" name="9WZDNCRDMDM3" displayName="Nuget Package Explorer"/>
	<!--<package type="MSStore" name="9MSSZTT1N39L" displayName="Python 3.9"/>-->
	<!--<package type="MSStore" name="9PJPW5LDXLZ5" displayName="Python 3.10"/>-->

	<!--
		Applications
	-->
	<package type="AckApt" name="PrivateInternetAccess"/>
	<package type="AckApt" name="VCRedist2005"/>
	<package type="AckApt" name="VCRedist2008"/>
	<package type="AckApt" name="VCRedist2010"/>
	<package type="AckApt" name="VCRedist2012"/>
	<package type="AckApt" name="VCRedist2013"/>
	<package type="AckApt" name="VCRedist2015_17_19"/>
	<package type="AckApt" name="DotNet4.5" windowsVersions="Windows7"/>
	<package type="AckApt" name="DotNet3.5" windowsVersions="Windows7"/>
	<package type="AckApt" name="PowerShellCore"/>
	<package type="AckApt" name="AutoHotkey"/>
	<package type="AckApt" name="notepad3"/>
	<package type="AckApt" name="Notepad++"/>
	<package type="AckApt" name="LinkShellExtension"/>
	<package type="AckApt" name="FileMenuTools"/>
	<!-- <package type="AckApt" name="GoogleChrome"/> -->
	<package type="AckApt" name="Firefox"/>
	<package type="AckApt" name="Vivaldi"/>
	<package type="AckApt" name="MicrosoftEdge" windowsVersions="Windows8"/>	<!-- think it's in by default now for Win10 -->
	<package type="AckApt" name="KeePass2"/>
	<package type="AckApt" name="FlashPlayerPluginAX" windowsVersions="Windows7"/>
	<package type="AckApt" name="FlashPlayerPlugin" windowsVersions="Windows7"/>
	<!-- <package type="AckApt" name="SumatraPDF"/> -->
	<package type="AckApt" name="VeraCrypt"/>
	<package type="AckApt" name="jre8"/>
	<!-- <package type="AckApt" name="jdk8"/> -->
	<!-- <package type="AckApt" name="ConEmu"/> -->
	<package type="AckApt" name="BingWallpaper"/>

	<package type="AckApt" name="WinRAR"/>
	<package type="AckApt" name="7zip"/>
	<package type="AckApt" name="TeraCopy"/>
	<package type="AckApt" name="QTTabBar"/>
	<package type="AckApt" name="SyncBackSE"/>
	<package type="AckApt" name="iDrive"/>
	<package type="AckApt" name="IrfanView"/>
	<package type="AckApt" name="IrfanViewPlugIns"/>
	<package type="AckApt" name="vlc"/>
	<package type="AckApt" name="foobar2000"/>
	<package type="AckApt" name="AIMP"/>
	<package type="AckApt" name="Mp3tag"/>
	<package type="AckApt" name="MPC-HC"/>
	<package type="AckApt" name="PlexMediaPlayer"/>
	<package type="AckApt" name="Audacity"/>
	<!-- <package type="AckApt" name="AudioShell"/> -->
	<package type="AckApt" name="calibre"/>
	<package type="AckApt" name="Sigil"/>
	<package type="AckApt" name="gimp"/>
	<!-- <package type="AckApt" name="gimp-help"/> -->
	<package type="AckApt" name="paint.net"/>
	<package type="AckApt" name="Handbrake"/>
	<package type="AckApt" name="stellarium"/>
	<package type="AckApt" name="FreeDownloadManager"/>
	<package type="AckApt" name="FileZilla"/>
	<!--<package type="AckApt" name="CascadiaCodeFont"/>-->
	<!--<package type="AckApt" name="FiraCodeFont"/>-->

	<package type="AckApt" name="WebPI"/>
	<package type="AckApt" name="URLRewrite2"/>
	<package type="AckApt" name="python27"/>
	<package type="AckApt" name="python3"/>

	<package type="AckApt" name="WinMerge"/>
	<package type="AckApt" name="Fiddler4"/>
	<package type="AckApt" name="WireShark"/>
	<package type="AckApt" name="git"/>
	<package type="AckApt" name="nodejs"/>
	<package type="AckApt" name="VSCode"/>
	<package type="AckApt" name="VS2019Community"/>
	<package type="AckApt" name="DotNet462DevPack"/>
	<package type="AckApt" name="DotNet47DevPack"/>
	<package type="AckApt" name="DotNet471DevPack"/>
	<package type="AckApt" name="DotNet472DevPack"/>
	<package type="AckApt" name="DotNet48DevPack"/>
	<package type="AckApt" name="Resharper"/>
	<package type="AckApt" name="SqlServerMngmtStudio"/>
	<package type="AckApt" name="SqlServer2019Express"/>
	<package type="AckApt" name="SqlServer2019CU"/>
	<package type="AckApt" name="SourceTree"/>
	<package type="AckApt" name="GitAhead"/>
	<package type="AckApt" name="AzureDataStudio"/>
	<package type="AckApt" name="AzureStorageExplorer"/>
	<package type="AckApt" name="DockerDesktop"/>
	<package type="AckApt" name="LINQPad5"/>
	<package type="AckApt" name="LINQPad6"/>
	<!-- <package type="AckApt" name="Postman"/> -->

	<!--<package type="AckApt" name="VS2013Community"/>-->
	<!--<package type="AckApt" name="VS2013Ultimate"/>-->
	<!--<package type="AckApt" name="VS2015Community"/>-->
	<!--<package type="AckApt" name="Resharper"/>-->

	<!--<package type="AckApt" name="xxxxxxxxxx"/>-->
	<!--<package type="AckApt" name="xxxxxxxxxx"/>-->


	<!--
		TODO: add any WebPI stuff to install here
	<package name="Xxxxxxxxxxxxxx" source="WebPI"/>
	-->

	<!--
		TODO: add any cygwin stuff to install here
	<package name="Xxxxxxxxxxxxxx" source="Cygwin"/>
	-->
	<!-- try to do these all in one command, because the cygwin installer outputs a LOT of stuff and don't want to see that more than once -->
	<!-- these add Python 2.x; looks like it tries to add Perl, too, but that's erroring at the moment; other stuff; -->
	<!--<package name="git gitk mercurial curl wget" source="cygwin"/>-->
	<!-- all in one not working, so do them separately => very yucky, extremely verbose -->
	<!-- maybe the all in one would work with multiple quoting?? => '`'git gitk mercurial`'' -->
<!--
	<package name="zip" source="cygwin"/>
	<package name="unzip" source="cygwin"/>
	<package name="p7zip" source="cygwin"/>
	<package name="make" source="cygwin"/>
	<package name="git" source="cygwin"/>
	<package name="gitk" source="cygwin"/>
	<package name="mercurial" source="cygwin"/>
	<package name="curl" source="cygwin"/>
	<package name="wget" source="cygwin"/>
	<package name="joe" source="cygwin"/>
-->
	</packages>
